In [12]:
# Setting up
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Connecting the data files
mouse_data_path = "Resources/Mouse_metadata.csv"
study_result_path = "Resources/Study_results.csv"

# Reading both the files listed above
mouse_data = pd.read_csv(mouse_data_path)
study_data = pd.read_csv(study_result_path)

# Merging both datasets into one 
mouse_complete = pd.merge(study_data, mouse_data, how="left", on=["Mouse ID"])

# Displaying dataset for preview
mouse_complete

     Mouse ID  Timepoint  Tumor Volume (mm3)  ...     Sex Age_months Weight (g)
0        b128          0           45.000000  ...  Female          9         22
1        f932          0           45.000000  ...    Male         15         29
2        g107          0           45.000000  ...  Female          2         29
3        a457          0           45.000000  ...  Female         11         30
4        c819          0           45.000000  ...    Male         21         25
...       ...        ...                 ...  ...     ...        ...        ...
1888     r944         45           41.581521  ...    Male         12         25
1889     u364         45           31.023923  ...    Male         18         17
1890     p438         45           61.433892  ...  Female         11         26
1891     x773         45           58.634971  ...  Female         21         30
1892     b879         45           72.555239  ...  Female          4         26

[1893 rows x 8 columns]

In [34]:
# Finding the total number of mice
mice_unique = mouse_complete["Mouse ID"].unique()
mice_total = len(mice_unique)
mice_total

249

In [49]:
# Getting the duplicate mice by ID number that show up for Mouse ID and Timepoint